.mainCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: black;
    gap: 2rem;
}
.card{
    box-shadow: 0px 9px 36px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 9px 36px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 36px -22px rgba(0,0,0,0.75);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #eefcdf;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
}
img{
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
}
.userName{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-left: 0.6rem;
}
.timeUser{
    font-weight: 600;
    font-size: 1.05rem;
}
.nameUser{
    font-weight: 700;
    font-size: 1.5rem;
}
.trashImg{
    width: 2.5rem;
}
.parrafo{
    font-size: 1.2rem;
    font-weight: 400;
}
.footer{
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
}
